

$primary-color: #805A6C;
$yellow: #FEC70D;
$pink: #F07B79;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;

}

body{
    height: 100vh;
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6c4cc+0,d6c4cc+33,fad3d2+33,fad3d2+33,fad3d2+66,ffecad+66,ffecad+100 */
background: #d6c4cc; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d6c4cc 0%, #d6c4cc 33%, #fad3d2 33%, #fad3d2 33%, #fad3d2 66%, #ffecad 66%, #ffecad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d6c4cc 0%,#d6c4cc 33%,#fad3d2 33%,#fad3d2 33%,#fad3d2 66%,#ffecad 66%,#ffecad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d6c4cc 0%,#d6c4cc 33%,#fad3d2 33%,#fad3d2 33%,#fad3d2 66%,#ffecad 66%,#ffecad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c4cc', endColorstr='#ffecad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.wrapper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center
}

    
header{
    height: 10vh;
    background: #fff;
   
    .logo{
        height: 100%;}
        img{
            height: 100%;
        }
    
      
    }

    .data{
        height: 20vh;
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hours, .phone, .address
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            i{
                margin-bottom:10px ;
            }

        }
        .phone a{
            display: flex;align-items: center;
            text-decoration: none;

        }
    }
   
    main{
        height: 65vh;

        .text{
            width: 60%;
            p{
                margin: 10px;
            }

        }
        .img{
            width: 40%;


            display: flex;align-items: center;justify-content: center;


        }
    }
footer{
    .wrapper{
        align-items: center;justify-content: center;
    }
    font-size: 12px;
    height: 5vh;
    background:white;
}